@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root
{
    --primary-color:#7C3AED;
    --secondary-color:#D1D5DB;
    --third-color:#A7F3D0;
}
.span-class
{
    font-weight: bold;
}
body
{
    font-family: 'Montserrat', sans-serif;
}
hr
{
    margin-top: 2rem;
    margin-bottom:2rem;
}
.container
{
    padding-left:1rem;
    padding-right:1rem; 
}
.center-container
{
    margin: auto;
    max-width: 600px;
}

.primary-link
{
    text-decoration: none;
    list-style: none;
    background-color: var(--primary-color);
    color: white;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.3rem;
    margin-right: 0.5rem;
}
.secondary-link
{
    text-decoration: none;
    list-style: none;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius:0.3rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.ul-tag
{
    list-style: none;
}
.li-tag
{
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navigation
{
background-color: var(--primary-color);
padding:1rem 0rem;

border-bottom-left-radius: 1rem;
}
.nav-unordered-list
{
    list-style: none;
    text-align: right;
}

.brand-name
{
    color: white;
    font-weight: bold;
}
.nav-lists
{
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navigation .active
{
    font-weight: bold;
}
.links
{
    text-decoration: none;
    color: white;
  
}
.img-style
{
    max-width: 650px;
    display: block;
    margin: auto;
    padding-top: 3rem;
}
.img-head
{
color:var(--secondary-color);
text-align: center;

}

.section .head-normal-section  
{
    text-align: center;
    padding-top: 1rem;
}
.section
{
    padding:2rem 0rem;
}
.section-grey
{
    background-color: var(--secondary-color);
    padding: 2rem 0rem;
}
.section-grey .head-normal-section
{

    text-align: center;
    padding-top: 1rem;   
}
/*footer*/
.footer-ul
{
    list-style: none;
    padding-inline-start: 0px;
}
.footer-li
{
    display: inline;
    
}
.footer-links
{
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    color: white;
}
.footer
{
    background-color: var(--primary-color);
    padding:1rem 2rem;
    border-top-right-radius:1rem;
}
.footer-header
{
    color: white;
    font-weight: bold;
}
.footer-div
{
   text-align: center; 
   
}
/*footer*/
.img-div .brandname-head
{
    color: var(--primary-color);
    background-color: white;
}
.project-heading
{
padding-top: 2rem;
}
.my-projects-span
{
color: var(--primary-color);
}
.play
{
    
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--primary-color);
    max-width: 150px;
    border-radius:0.5rem;
    margin-bottom: 1rem;
}

.view
{
    
    display: block;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--primary-color);
    max-width: 150px;
    border-radius:0.5rem;
}
.pad-top
{
    padding-top: 2rem;
}
/***************Blog styling*******************************/
.blog-head
{
    
    text-align: center;
    font-weight: bold;
    padding-top:2rem ;
    text-decoration: underline;
}
.blog-head-span 
{
    color: var(--primary-color);    
}

.ar-rehman-image
{
    height: 620px;
    margin: auto;
    display: block;
    border-radius: 0.7rem;
    
}
.ar-rehman-small
{
    text-align: right;
    display: block;
    padding-right: 13rem;
    padding-top: 2rem;
}
.my-favourite
{
    padding-top: 2rem;

}
.my-favourite .first
{
    margin-right: 0.18rem;
}
.my-favourite .second
{
    margin-right: 0.18rem;
}
.my-favourite .head-youtube-links
{
    text-align: center;
    padding-top: 2rem;
}
.section-grey .para
{
   /* font-family: sans-serif; */
   font-size:large;
}
.section .para
{
   /* font-family: sans-serif; */
   font-size: large;

}
.ar-rehman-links
{
    text-decoration: none;
    color:var(--primary-color);
    font-weight: bold;
}
.arrehman-footer
{
    background-color: black;
}
.footer-small
{
    color: white;
    text-align: right;
 display: block;  
}
.github
{
    width:50px;
    border-radius: 3rem;
}
.youtube
{
    width:50px;
    border-radius: 3rem;
}
.linkedin
{
    width:50px;
    border-radius: 3rem;
}